@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
}

* {
	padding: 0; margin: 0; box-sizing: border-box;
}

html, body {
	width: 100%; height: 100%;
    font-family: "Montserrat";
}