@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
}
html{
/* height:100%;
background-image: url(../images/bg.jpg) ;
  background-size: 1200px 600px ;
  background-position:center 300px;
  background-repeat: no-repeat;
   font-family: "Montserrat"; */
   background-image: url(../images/c9414e.png) ;
	background-size: 1436px 200px ;
	background-position:center 50px;
	background-repeat: no-repeat;
	font-family: "Montserrat";
}
body{
	 font-family: "Montserrat";
}

.bd {
	height:0rem;
	width:100%;
}

.container{
height:100px;
}

#signupbox {
	margin: 0;
	padding-top: 80px;
}

.panel.panel-info {
	background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    padding-bottom: 15px;
    width:100%;
}


h2 {
	text-align: center;
    height: 60px;
    line-height:60px;
    font-size: 1.5em;
}

hr {
	margin-top: 0;
}




#submit {
	height: 35px;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 1px;
}

div.col-md-12 {
	padding:0px 50px 0 45px;	
}

.control-label.col-md-3.col-form-label-lg {
	font-size: 20px;
}

p {
	font-size: 18px;
}

.form-control {
	font-size: 18px;
	height: 35px;
}

.form-group {
	margin-bottom: 0.5rem;
}