#notes-container {
	height: 90%;
    padding: 15px 20px;
    overflow-y: auto; 
    position: relative;
}

#no-note-msg {
	color: gainsboro;
    text-align: center;
    margin-top: 150px;
    user-select: none;
    margin-bottom: 20px;
}

#add-first-note {
	width: 200px;
    height: 40px;
}


/*****************************************/
.note {
	background: white;
    width: 100%;
    height: 105px;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.4);
    padding: 7px 15px;
    margin-bottom: 13px;
    position: relative;
}

.note-title {
    font-weight: 600;
	font-size: 15px;
	margin-bottom: 8px;
}

.note-date {
	float: right;
    margin-right: 40px;
    font-size: 14px;
    font-weight: 600;
}

.note-content {
	font-size: 13px;
	height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
    text-align: justify;
}

.note-tags {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

.tag {
	background-color: slateblue;
    color: white;
    padding: 2px 7px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 5px;
}

.note-view {
	position: fixed;
    height: 500px;
    width: 75.5%;
}

.note-x {
	display: none;
}

.note-close {
	font-size: 30px;
    font-weight: 700;
    position: absolute;
    right: 10px;
    top: -3px;
    display: block;
    color: red;
    z-index: 1000;
    cursor: pointer;
}

.note-delete {
	width: 20px;
    height: 20px;
    font-size: 17px;
    margin-right: 0px;
    border-radius: 0;
    box-shadow: none;
    position: absolute;
    right: 18px;
    top: -4px;
    background: transparent;
    color: red;
}

.note-edit {
	right: 45px;
    top: -13px;
    font-size: 17px;
    color: green;
}

.note-delete:focus {
	box-shadow: none;
}

#new-task-modal .modal-content {
	border-radius: 2px;
    box-shadow: 0 0 2px 1px rgba(255,255,254,0.3);
}

#new-task-modal .modal-body {
	padding: 10px;
}

#new-task-modal label {
	font-size: 14px;
    font-weight: 600;
}

#new-task-modal .col-md-1 {
	width: 12%; max-width: 12%;
	flex: 0%;
	padding-left: 30px;
    padding-right: 0; 
}

#new-task-modal .col-md-11 {
	width: 88%; max-width: 88%;
    padding-right: 35px;
}

#new-task-modal .col-md-11 input.form-control {
	height: 35px;
}


#new-task-modal .form-group.row {
	margin-bottom: 8px;
}

#new-task-modal .modal-footer {
	display: block;
}

.btn-task {
	color: white;
    width: 100px;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    height: 28px;
    padding: 4px 0px;
}

#close-note-btn {
	margin-left: 10px;
}

#reset-note-btn, #add-note-btn {
	float: right; margin-right: 15px; 
}

.bootstrap-tagsinput {
	width: 100%;
}

.read-more {
	position: absolute;
    width: 50px;
    right: 8px;
    bottom: 6px;
    background: white;
    cursor: pointer;
}

.read-mode {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1000;
    width: 97%;
	height: 94%;
    /*transition: width 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375), height 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);*/
}

.read-mode .note-tags {
	position: absolute;
	bottom: 10px;
}

.read-mode .read-more {
	bottom: 10px;
}