#signupbox {
	margin-top: 50px;
}

#icn, #icn2, #sec, #icn3, #icn4, #npass, #icn5, #icn6, #npass2, #icn7, #icn8, #subm {
	display: none;
}
 @font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
}
html, body {
	width: 100%; height: 100%;
    font-family: "Montserrat";
}
body {
	/* background-image:url("../images/background_13.png"); */
background-image: url(../images/c9414e.png) ;
	background-size: 1436px 200px ;
	background-position:center 50px;
	background-repeat: no-repeat;
	font-family: "Montserrat";
}
.panel.panel-info {
	background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    padding-bottom: 15px;
}
#signupbox {
	margin: 0 auto;
	padding-top: 80px;
}
.form-group.row {
	padding:0px 50px 0 45px;	
}

#submit {
	height: 35px;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 1px;
}
h2 {
	text-align: center;
    height: 60px;
    line-height:60px;
    font-size: 1.5em;
   
}


.control-label.col-md-3.col-form-label-lg {
	font-size: 20px;
}

p {
	font-size: 18px;
}

.form-control {
	font-size: 18px;
	height: 35px;
}

.form-group {
	margin-bottom: 0.5rem;
	width:100%;
}